.rounded-select {
  width: 150px;
  text-align: center;
  border-radius: 15px;
  background-color: #b5eafd;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 70%;
  background-position-y: 7px;
  padding-right: 3rem;
}

.rounded-options {
  border-radius: 15px;
  background-color: #b5eafd;
}
